# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd
url = ("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df = pd.read_csv(url)

In [2]:
display(df.head())

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [3]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [5]:
df.columns = ['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type']

In [6]:
df.rename(columns={col: col.replace(" ", "_").lower() for col in df.columns}, inplace=True)

In [7]:
display(df)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [10]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].round(2)

In [17]:
display(df)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A
3,3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.44,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.98,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.52,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,NaN

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [19]:
filtered_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
filtered_df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,189,OK31456,California,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.40,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.13,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.40,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.06,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.20,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.13,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.32,SUV,Medsize,A
587,587,FJ28407,California,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.00,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.96,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.80,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.57,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.28,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.17,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.00,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.69,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.00,SUV,Medsize,A

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [20]:
df_filtered2 = df[df['response'] == 'Yes']

In [23]:
display (df_filtered2)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A
8,8,FM55990,California,5989.77,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.20,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.80,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.20,SUV,Medsize,NaN
19,19,NJ54277,California,3746.75,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.58,Two-Door Car,Large,A
27,27,MQ68407,Oregon,4376.36,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.04,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,10844,FM31768,Arizona,5979.72,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L1,Offer2,Agent,547.20,Four-Door Car,Medsize,NaN
10852,10852,KZ80424,Washington,8382.48,Yes,Basic,Bachelor,1/27/11,Employed,M,...,0.0,2,Personal Auto,Personal L2,Offer2,Call Center,791.88,NaN,NaN,A
10872,10872,XT67997,California,5979.72,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L3,Offer2,Agent,547.20,Four-Door Car,Medsize,NaN
10887,10887,BY78730,Oregon,8879.79,Yes,Basic,High School or Below,2/3/11,Employed,F,...,0.0,7,Special Auto,Special L2,Offer1,Agent,528.20,SUV,Small,A
10897,10897,MM70762,Arizona,9075.77,Yes,Basic,Master,1/26/11,Employed,M,...,0.0,8,Personal Auto,Personal L1,Offer1,Agent,158.08,Sports Car,Medsize,A

In [26]:
df_filtered2.info ()

<class 'pandas.core.frame.DataFrame'>
Index: 1466 entries, 3 to 10897
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     1466 non-null   int64
 1   customer                       1466 non-null   object
 2   state                          1466 non-null   object
 3   customer_lifetime_value        1466 non-null   float64
 4   response                       1466 non-null   object
 5   coverage                       1466 non-null   object
 6   education                      1466 non-null   object
 7   effective_to_date              1466 non-null   object
 8   employmentstatus               1466 non-null   object
 9   gender                         1466 non-null   object
 10  income                         1466 non-null   int64
 11  location_code                  1466 non-null   object
 12  marital_status                 1466 non-null   object
 13  monthly_premium_auto           1466 non-null   int64
 14  months_since_last_claim        1388 non-null   float64
 15  months_since_policy_inception  1466 non-null   int64
 16  number_of_open_complaints      1388 non-null   float64
 17  number_of_policies             1466 non-null   int64
 18  policy_type                    1466 non-null   object
 19  policy                         1466 non-null   object
 20  renew_offer_type               1466 non-null   object
 21  sales_channel                  1466 non-null   object
 22  total_claim_amount             1466 non-null   float64
 23  vehicle_class                  1380 non-null   object
 24  vehicle_size                   1380 non-null   object
 25  vehicle_type                   716 non-null    object
dtypes: float64(4), int64(5), object(17)
memory usage: 309.2+ KB

In [30]:
import numpy as np

In [37]:
df_filtered2.groupby(['gender', 'policy_type'])['total_claim_amount'].mean()

gender  policy_type
F       Corporate Auto    433.738462
        Personal Auto     452.966037
        Special Auto      453.279714
M       Corporate Auto    408.582468
        Personal Auto     457.010149
        Special Auto      429.528125
Name: total_claim_amount, dtype: float64

# Gender Differences:

Female Customers:
On average, female customers have higher total claim amounts compared to male customers for corporate and special auto policies. The average total claim amounts for female customers are 433.74 for corporate auto, 452.97 for personal auto, and 453.28 for special auto.

Male Customers:
Male customers have a slightly higher average total claim amount for personal auto policies at 457.01, but lower for corporate auto (408.58) and special auto (429.53) compared to females.

# Policy Type Impact:

Female customers:
The claim amounts are relatively similar across different policy types, with a slightly higher average for special auto policies.
Male customers:
Personal auto policies have the highest average total claim amount, indicating a trend where claims under personal auto policies are higher for men.

# Overall Insights:

The claim amounts are fairly consistent across genders and policy types, with personal auto policies yielding slightly higher average claim amounts, particularly for male customers.
There's a noticeable gender difference in claim amounts for corporate auto policies, with female customers filing higher claims on average than male customers. This could be indicative of different usage patterns, risk profiles, or vehicle types insured under these policies.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [63]:
state_customer_count = df['state'].value_counts()
states_more_than_500_customers = state_customer_count[state_customer_count > 500]
display(states_more_than_500_customers)

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

# I am not sure that this is the supposed output...

In summary, California, Oregon, Arizona, Nevada, and Washington are key markets for the insurance company, with each state hosting a significant number of policyholders. Strategies for these states should focus on strengthening market presence, enhancing customer relationships, and exploring avenues for further growth and efficiency improvements

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [69]:
agg_results = df.groupby(['gender', 'education']).agg({
    'customer_lifetime_value': ['max', 'min', 'median']})
display(agg_results)

                            customer_lifetime_value
                                                max      min    median
gender education
F      Bachelor                            73225.96  1904.00  5640.505
       College                             61850.19  1898.68  5623.610
       Doctor                              44856.11  2395.57  5332.460
       High School or Below                55277.45  2144.92  6039.555
       Master                              51016.07  2417.78  5729.860
M      Bachelor                            67907.27  1898.01  5548.030
       College                             61134.68  1918.12  6005.850
       Doctor                              32677.34  2267.60  5577.670
       High School or Below                83325.38  1940.98  6286.735
       Master                              50568.26  2272.31  5579.100

The provided data outlines the maximum, minimum, and median customer lifetime value, segmented by gender and education level. Analyzing this data reveals several insights into the demographics of an insurer's customer base and their potential value to the company.

# Gender and Education

Highest customer lifetime value:
The highest maximum is observed in male customers with a High School or Below education level at 83,325.38.

Lowest customer lifetime value:
The lowest minimum is found in female customers with a Bachelor's degree at 1,904.00.

# Median

Female Customers:
The median customer lifetime value is relatively consistent across different education levels, with High School or Below having the highest median with 6,039.555.
Bachelor and College-educated female customers have slightly lower median customer lifetime values.

Male Customers:
High School or Below education have the highest median customer lifetime value with 6,286.735, closely followed by those with a College education. 
The Doctor category shows the lowest maximum customer lifetime value for males.

# Education Level Variation:

Doctorate Level: Notably, individuals with a Doctorate show a significant difference in maximum customer lifetime value between genders, with females peaking at 44,856.11 and males at a much lower 32,677.34.

Masterâ€™s Degree: Both genders show similar patterns in median customer lifetime value for Masterâ€™s degree holders.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here